<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css" />
		<title>{% block title %}릴레이 미디어{% endblock %}</title>
	</head>

	<body>
		<div class="container">
			<div class="navbar">
				<div class="navbar-inner">
					<a class="brand" href="#">Relay Media</a>
					<ul class="nav">
						<li class="active">
							<a href="/threads/">Threads</a>
						</li>
					</ul>
					<form class="navbar-form pull-right" method="post" action="/registration/login/">
						{% csrf_token %}
						{% if user.is_authenticated %}
						<span style=" position: relative; bottom: -4px;">Welcome, <strong>{{ user.username }}</strong>!</span>
						<a href="/registration/logout" class="btn btn-primary">Log-Out</a>
						{% else %}
						<span style=" position: relative; bottom: -4px;">Welcome, <strong>Guest</strong>!</span>
						<a href="/registration/login" class="btn btn-primary">Sign-In</a>
						<a href="/registration/signup/" class="btn btn-danger">Sign-Up</a>
						{% endif %}
					</form>
				</div>
			</div>
			{% block content %}{% endblock %}
		</div>
		<script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
		<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
	</body>
</html>