<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css" />
		<title>{% block title %}릴레이 미디어{% endblock %}</title>
	</head>

	<body>
		<div class="container">
			<div class="navbar">
			  <div class="navbar-inner">
			    <a class="brand" href="#">Title</a>
			    <ul class="nav">
			      <li class="active"><a href="/threads/">Threads</a></li>
			    </ul>
			    <form class="navbar-form pull-left" method="post" action="/accounts/login/">{% csrf_token %}
			    	{{ login_form.username }}
			    	{{ login_form.password }}
			    	<input type="submit" class="btn btn-primary" value="Sign-In">
			    	<a href="/accounts/signup/" class="btn btn-danger">Sign-Up</a>
			    </form>
			  </div>
			</div>
			{% block content %}{% endblock %}
		</div>
		<script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
		<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
	</body>
</html>