{% extends 'layout.html' %}

{% block content %}
<div class="row">
	<h1 class="span12">Thread : {{ thread.title }}</h1>
	<div class="span12">
		<h2>Owner</h2>
		<p>
			{{ thread.owner }}
		</p>
	</div>
	<div class="span12">
		<h2>Title</h2>
		<p>
			{{ thread.title }}
		</p>
	</div>
	<div class="span12">
		<h2>Description</h2>
		<textarea readonly cols="100" rows="10" class="span6">
			{{ thread.description }}
		</textarea>
	</div>
	<div class="span12">
		<h2>Start Text</h2>
		<textarea readonly cols="100" rows="10" class="span6"> 
			{{ thread.start_text }}
		</textarea>
	</div>

	<div class=="span12">
		<h2>Add Thread Item</h2>
		<form method="post" action=".">
			{% csrf_token %}
			{{ form.as_p }}
			<input type="submit">
		</form>
	</div>
</div>
{% endblock %}
